<div class="modal-container">
  <!-- Cabeçalho -->
  <div class="modal-header">
    <div class="header-top">
      <div class="header-icon">
        <i class="fas fa-check-circle"></i>
      </div>
      <h2>Confirmação de Assinatura</h2>
    </div>
    <div class="plano-info">
      <div class="plano-row">
        <div class="plano-badge">
          <i class="fas fa-tag"></i>
          <span>{{ data.plano.nome }} - {{getPrecoPlano(data.plano)}} / {{data.plano.parcelas}} mês </span>
        </div>
        <!-- <div class="plano-valor">
          <span class="valor-simbolo">R$</span>
          <span class="valor-amount">{{ (+data.plano.preco_promocional) | number:'1.2-2' }}</span>
        </div> -->
      </div>
      <!-- <p class="plano-descricao" *ngIf="data.plano.duracao_dias">
        <i class="fas fa-calendar-alt"></i>
        Duração: {{ data.plano.duracao_dias }} dias
      </p> -->
    </div>
  </div>

  <!-- Conteúdo -->
  <div class="modal-content">
    <div class="content-section">
      <div class="info-item">
        <i class="fas fa-info-circle"></i>
        <div class="info-text">
          <p class="info-label">Descrição do Plano</p>
          <p class="info-value">{{ data.plano.descricao }} valor total do plano </p>
        </div>
      </div>

      <div class="info-item" *ngIf="data.plano.dia_gratis && data.plano.dia_gratis > 0">
        <i class="fas fa-gift"></i>
        <div class="info-text">
          <p class="info-label">Período Grátis</p>
          <p class="info-value">{{ data.plano.dia_gratis }} dias grátis - 1ª cobrança em {{
            getPrimeiraCobranca(data.plano.dia_gratis) | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>

      <div *ngIf="data.plano.dia_gratis && data.plano.dia_gratis > 0"class="alert-box">
        <i class="fas fa-exclamation-triangle"></i>
        <p >
          Você terá {{ data.plano.dia_gratis }} dias grátis. A primeira cobrança será em {{
          getPrimeiraCobranca(data.plano.dia_gratis) | date:'dd/MM/yyyy' }}.
        </p>

      </div>

      <div class="info-box-public">
        <i class="fas fa-users"></i>
        <div class="info-text-public">
          <p class="info-label-public">Importante</p>
          <p class="info-value-public">Após a confirmação do pagamento, seu nome aparecerá na listagem pública de
            psicólogos. E você tera sua pagina com link própio.</p>
        </div>
      </div>

      <div class="termos-aceite">
        <label class="checkbox-label">
          <input type="checkbox" [(ngModel)]="aceitoTermos" class="checkbox-input" />
          <span class="checkbox-text">
            Eu concordo com a
            <a [href]="termosUrl" target="_blank" rel="noopener noreferrer" class="termos-link">
              política de assinatura
            </a>
          </span>
        </label>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn-submit" (click)="onConfirm()">
        <i class="fas fa-check"></i>
        <span>Confirmar Assinatura</span>
      </button>
      <button class="btn-cancel" (click)="onCancel()">
        <i class="fas fa-times"></i>
        <span>Cancelar</span>
      </button>
    </div>

    <div class="security-info">
      <i class="fas fa-shield-alt"></i>
      <span>Seus dados estão protegidos e criptografados</span>
    </div>
  </div>

  <!-- Ações -->

</div>